@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    max-width: 1776px;
      
}
main{
        width: 80%;
        margin: 3vw auto;
        display: flex;
        flex-direction: column;
        gap: 5vw;
        
}
section:first-child{
    width: 90%;
    max-width: 550px;
    min-width: 310px;
}

h1{
     font-family: "Roboto Slab", serif;
     font-size: clamp(26px,calc(26px + (24 * ((100vw - 375px) / 1025))),50px);
}

section:first-child p {
     
     font-size: clamp(12px,calc(12px + (9 * ((100vw - 375px) / 1025))),20px);
}

section:nth-child(2){
    display: flex;
    justify-content: center;
    
}
section:nth-child(2) img{
    width: 50%;
    max-width: 300px;
    min-width: 175px;
}

section:nth-child(3){
    display: none;
}

section:nth-child(4){
    display: flex;
    justify-content: flex-start; 
    gap: 2.7rem;
    flex-wrap: wrap;
    width: 66%;
    align-items: flex-start;

    
}

h5{
    font-size: clamp(12px,calc(12px + (9 * ((100vw - 375px) / 1025))),20px);

}

div p{
   font-size: clamp(10px,calc(10px + (8 * ((100vw - 375px) / 1025))),18px);
   margin-top: -15px;

}
div{
    width: 39%;

}
#threeweeks{
    margin-top: -55px;

}

@media (min-width:830px){
    main{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 7.4vw;
    }
    section:first-child{
    width:60%;
    max-width: 500px;
    min-width: 310px;
}
section:nth-child(2){
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 30%;
}

section:nth-child(2) img{
    width: 90%;
}
section:nth-child(4){
    flex-wrap: nowrap;
    width: 60%;



}
#threeweeks{
    margin-top: 0;

}
}

@media (min-width:1400px) and (max-width:2100px){
    main{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 7.4vw;

    }
    section:first-child{
    width:60%;
    max-width: 500px;
    min-width: 310px;
}
section:nth-child(2){
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 30%;
}

section:nth-child(2) img{
    width: 90%;
}
section:nth-child(4){
    flex-wrap: nowrap;
    width: 60%;
    align-items: center;



}
#threeweeks{
    margin-top: 0;

}
section:nth-child(3){
    display: block;
}
}